{% extends 'base.html.twig' %}
{% block title %}
Details utilisateur
{% endblock %}
{% block content %}
<ul>
    <li>

        <div class="m-2">{{user.id}} <br>
        {{user.firstname}} <br>
        {{user.lastname}}</div>
        <a href="{{env.base_path}}/user/edit/{{user.id}}"> <button class="btn-primary-danger">Modifier</button></a>
    </li>
</ul>
{% endblock  %}